// // Palette
$body-bg-color          = #1f3958
$body-bg-color-2        = darken(#1f3958, 30%)
// $body-bg-color          = #BBBBBB
// $body-bg-color-2        = #AAAAAA

$colors-text-def        = #333
$colors-text-med        = #777
$colors-text-lt         = #aaa
$colors-card-bg1        = #f7f7f7
$colors-card-bg2        = #eeeeee
$colors-card-bg3        = #1d2643
$colors-card-txt        = #a40028
$field-bg-color         = #eeeeee
$field-side-color       = #f7f7f7
$line-color             = rgba(255,255,255,0.5)
$texture-field-side     = #141d2b

// Field dimensions
$stage-perspective    = 1100px
$field-y              = 840px
$field-x              = ($field-y * 0.8)
$field-ratio          = ($field-x / $field-y)
$field-side-y         = 8px
$field-rot            = 90deg
$field-buffer         = 4%
$line-x               = 3px
$line-circle-x        = 25%

// Player dimensions
$player-x             = 65px
$card-x               = 230px
$card-y               = 260px